<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  This is the contact page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application. It really sucks. Mainly that there's no way
  to contact anybody on here.
</p>